---
layout: default
---
{% include hero.html %}
<div class="o-container">
	<div class="o-row">
	{% if site.posts.size > 0 %}
		{% for post in paginator.posts %}
			<!-- begin c-article -->
			<div class="c-article o-col {% if forloop.index <= 2 %}o-col-12 o-col-t-6 {% else %}o-col-12 o-col-t-6 o-col-d-4{% endif %}">
				<div class="c-article__content">
					{% if post.image %}
					<a href="{{post.url | prepend: site.baseurl}}" class="c-article__image" style="background-image: url({{site.baseurl | append : post.image}})">
						<span class="c-mask"></span>
						<span class="c-text">Read More...</span>
					</a>
					{% endif %}
					<div class="c-article__tags">
					{% if post.tags.size >= 1 %}
						<div class="c-post-tag">
							{% for tag in post.tags %}
							<a href="{{ site.baseurl }}/tags#{{tag}}" class="c-tag">{{ tag }}</a>
							{% endfor %}
						</div>
					{% else %} {% endif %}
					</div>
					<h2 class="c-article__title">
						<a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
					</h2>
					<div class="c-article__meta">
						<span class="c-article__date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time></span>&nbsp;&nbsp;—&nbsp;
						<span class="c-article__author">{{ site.author.name }}</span>
					</div>
					<p class="c-article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 133 }}{% endif %}</p>
				</div>
			</div>
			<!-- end c-article -->
			{% if forloop.last %}<div class="c-separater"></div>{% endif %}
		{% endfor %}
	{% endif %}
	</div>
</div>
{% include pagination.html %}
