<div class="c-contact">
  <div class="c-contact__title">Follow Me</div>
  <ul class="c-contact__list u-list-reset">
    <li class="c-contact__item">
      <a href="https://twitter.com/{{site.twitter}}" class="c-contact__link">Twitter</a>
    </li>
    <li class="c-contact__item">
      <a href="https://facebook.com/{{site.facebook}}" class="c-contact__link">Facebook</a>
    </li>
    <li class="c-contact__item">
      <a href="mailto:{{site.email}}" class="c-contact__link">Email</a>
    </li>
  </ul>
</div> <!-- /.c-contact -->