<footer class="c-footer">
  <div class="o-container">
    <div class="o-row">
      <div class="o-col o-col-12">
        <div class="c-footer__head">
          <h3 class="c-footer__title">Get in touch</h3>
          <ul class="c-footer__contact u-list-reset">
            <li class="c-footer__contact__item"><a href="https://facebook.com/{{site.instagram}}" class="c-footer__contact__link">Instagram</a></li>
            <li class="c-footer__contact__item"><a href="mailto:{{site.email}}" class="c-footer__contact__link">Email</a></li>
          </ul>
        </div>
        <div class="c-copyright">{{site.time | date: '%Y'}} &copy; <a href="/">Valentina Quotidien</a>. Crafted & Curated by TM.</div>
      </div>
    </div>
  </div>
</footer>
