/* ===============
	WRAPPER
=============== */

.o-wrapper {
	flex: 1 0 auto;
	margin-bottom: 30px;
  &.is-home {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 576px) {
	.o-wrapper {
		margin-bottom: 50px;
    &.is-home {
      margin-bottom: 0;
    }
	}
}