---
layout: default
---
{% if page.image %}
<!-- begin o-container -->
<div class="o-container">
	<div class="o-row">
		<div class="o-col o-col-12">
			<div class="c-page__image" style="background-image: url({{"/images/" | prepend: site.baseurl | append : page.image}})"></div>
		</div>
	</div>
</div>
<!-- end o-container -->
{% endif %}
<!-- begin o-container -->
<div class="o-container">
	<div class="o-row">
		<div class="o-col o-col-12 o-col-t-10 push-t-1">
			<!-- begin c-page -->
			<article class="c-page">
				<h1 class="c-page__title">{{ page.title | escape }}</h1>
			
				<div class="c-page__content">
					{{ content }}
				</div>
			</article>
			<!-- end c-page -->
		</div>
	</div>
</div>
<!-- end o-container -->