.c-hero {
  margin-bottom: 30px;
  box-shadow: 0px 22px 50px -24px rgba(0,0,0,0.6);

  &.c-hero-text {
    padding: 60px 0;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
  }
}

.c-hero__content {
  text-align: left;
  
  .c-hero__suphead {
    font-size: 13px;
    letter-spacing: 0.5px;
    color: $blue-dark;
    text-transform: uppercase;
  }

  .c-hero__title {
    font-size: 37px;
    line-height: 47px;
    font-weight: 500;
  }
}

// Hero Slider
.c-hero-slider {
  position: relative;
  max-height: 596px;
  overflow: hidden;
  @media only screen and (max-width: 992px) {
    max-height: 490px;
  }
}

.c-hero-slider__item {
  width: 100%;
  .c-hero-slider__image {
    min-height: 490px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &:after {
      content: "";
      display: table;
      width: 100%;
      min-height: 490px;
      padding-top: 51%;
      background: rgba(0,0,0,.1);
    }
  }
}

.c-hero-slider__box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.c-hero-slider__content {
  position: relative;
  max-width: 650px;
  padding: 30px 60px;
  text-align: center;
  box-shadow: 0px 22px 50px -24px rgba(0,0,0,0.3);
  background-color: rgba($white-color, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  transition: .5s;
  &:hover {
    background-color: rgba($blue-dark, 0.1)
  }

  .c-hero-slider__tags {
    margin-bottom: 15px;
    a {
      display: inline-block;
      padding: 0 20px;
      font-family: 'Source Code Pro', sans-serif;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      color: #a9a9a9;
      background: $white-color;
      outline: none;
      transition: .35s;
      &:hover {
        color: $brand-color;
      }
    }
  }

  .c-hero-slider__title {
    margin-bottom: 10px;
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
    color: $white-color;
    @media only screen and (max-width: 768px) {
      font-size: 27px;
    }
    a {
      color: $white-color;
      outline: none;
    }
  }

  .c-hero-post-excerpt {
    max-width: 490px;
    margin: 0 auto;
    font-weight: 400;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
    color: $white-color;
  }

  .c-hero-slider__meta {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
    color: $white-color;
  }

  @media only screen and (max-width: 568px) {
    padding: 30px;
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  display: inline-block;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: $white-color;
  text-shadow: 0 1px 5px rgba(0,0,0,0.1);
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.slick-prev {
  left: 20px;
  &:before {
    content: "<";
    padding-right: 10px;
    font-size: 12px;
    color: $white-color;
  }
}

.slick-next {
  right: 20px;
  &:after {
    content: ">";
    padding-left: 10px;
    font-size: 12px;
    color: $white-color;
  }
}

.slick-dots {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  list-style: none;
  li {
    width: 33.3333333333%;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.05);
    &.slick-active {
      border-bottom: 1px solid rgba($white-color,.5);
      .pager__link {
        color: $white-color;
      }
    }
    .pager__link {
      font-family: 'Source Code Pro', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 400;
      color: $blue-dark;
      cursor: pointer;
    }
  }
}

// Latest Post
.c-lates-post {
  padding: 10px 0;
  margin-bottom: 30px;
  background: $blue-dark;
  span {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: $brand-color;
    color: $white-color;
  }
}




